body {
  background-image: url(../images/wood.jpg);
}

.container {
  background-color: rgba(255, 255, 255, 0.548);
  margin: auto;
  position: relative;
  width: 100%;
  min-height: 100vh;
  box-shadow: 0px 0px 5px 0px #000000;
}

header {
  color: white;
  position: fixed;
  width: 100%;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 10px 1px #000000;
  z-index: 2;
}

h1 {
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 400px) {
  .container {
    width: 400px;
  }
  header {
    width: 400px;
  }
}
